<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Socket.io Chat Example</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h3>블랭키 듀얼 난이도 상.ver2</h3>
    <h5>메시지 명령어 start(두명 유저가 모두 요청시 지문등장)</h5>
    <h5>메시지 명령어 leave 방떠나기</h5>
    <h5>메시지 명령어(문제정답):    {"answer": 1}</h5>
    <h5>메시지 명령어(문제정답):    {"answer": 2}</h5>
    <h5>메시지 명령어(문제정답):    {"answer": 3}</h5>
    <h5>메시지 명령어(문제정답):    {"answer": 4}</h5>

    <form class="form-inline">
      <div class="form-group">
        <label for="msgForm">메시지: </label>
        <input type="text" class="form-control" id="msgForm">
      </div>

      <button class="btn btn-primary" id="send" type="submit">Send</button>

    </form>
    <button class="btn btn-warning" id="startBtn">start</button>
    <button class="btn btn-primary" id="answerBtn1">1</button>
    <button class="btn btn-primary" id="answerBtn2">2</button>
    <button class="btn btn-primary" id="answerBtn3">3</button>
    <button class="btn btn-primary" id="answerBtn4">4</button>
    <div id="chatLogs"></div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
  $(function(){
    var upper = io('/upper');
    var roomName = "";
    var name = "";
    // 서버로 자신의 정보를 전송한다.
    upper.emit("enterNameSpace", {
      userName: makeRandomName()

    });
    upper.on("waiting", function(data) {
      $("#chatLogs").append("<div><strong>" +"나:   " + data.userName + " [대기중] </strong>" + "</div>");
    });

    upper.on('test',function(){
      // userName = data.socket.userName
      // socket = data.socket
      $("#chatLogs").append("<div><strong>"+"test" + "</strong></div>");
      // socket.emit('testb')
    })

    upper.on("startWaiting", function() {
      $("#chatLogs").append("<div><strong>"+"상대방 게임시작을 기다리는 중" + "</strong></div>");
    });


    upper.on("Leave", function() {
      $("#chatLogs").append("<div><strong>" +" 대기중  " +   "</strong>" + "</div>");
    });

    upper.on("enterRoomOppnent",function(data){
      $("#chatLogs").append("<div><strong>[안내] "+ data.userName+"님이 입장하였습니다."+"</strong>" + "</div>");
  });

    upper.on("enterRoomMy", function(data) {
      userName = data.userName
      roomName = data.roomName

      $("#chatLogs").append("<div><strong>" +"나: " + userName +"</strong>" + "</div>");
      $("#chatLogs").append("<div><strong>" + roomName + "번방 참가 </strong></div>");

    });

    upper.on("discWhileChat", function() {
      $("#chatLogs").append("<div><strong>" + " 상대방 연결이 종료되었습니다.   </strong>" +"</div>");
      $("#chatLogs").append("<div><strong>" + " [대기중]   </strong>" +"</div>");
      });



    upper.on("printQuestion", function(data) {
      let originalParagraph = data.originalParagraph
      let question = data.question
      let multipleChoiceQuestions = data.multipleChoiceQuestions

      $("#chatLogs").append("<div>" + "<strong>" + "</strong>" + originalParagraph + "</div>");
      $("#chatLogs").append("<div>" + "<strong>" + "</strong>" + question + "</div>");

      for(let i=1; i<= multipleChoiceQuestions.length;i++){
        $("#chatLogs").append("<div>" + "<strong>" +i+"번 보기 </strong>" + multipleChoiceQuestions[i-1] + "</div>");
      }

    });
    upper.on("errorPrintQuestion", function(data) {
      $("#chatLogs").append("<div>" + "<strong>" + "</strong>" + data.msg + "</div>");
    });

    upper.on("myChat", function(data) {
      $("#chatLogs").append("<div><strong> 나: " + data.msg +"</strong></div>");
    });

    upper.on("broadcastChat", function(data) {
      $("#chatLogs").append("<div>" +data.msg + " : <strong>" + data.userName + "</strong></div>");
    });

    upper.on("answerRight", function(data) {
      round = data.round
      score = data.score
      $("#chatLogs").append("<br></br>");
      $("#chatLogs").append("<div><strong>" + "[정답]</strong></div>");
      $("#chatLogs").append("<div><strong> [나]:" +round+ "라운드: " + score + "</strong>" + "점</strong></div>");
  });

    upper.on("answerWrong", function(data) {
      round = data.round
      score = data.score

      $("#chatLogs").append("<br></br>");
      $("#chatLogs").append("<div><strong>" + "[오답]</strong></div>");
      $("#chatLogs").append("<div><strong> [나]:" +round+ "라운드: " + score + "</strong>" + "점</strong></div>");

    });

    upper.on("broadcastAnswerRight",function(data){
      userName = data.userName
      round = data.round
      score = data.score

      $("#chatLogs").append("<div><strong>" + "[정답]</strong><div>");
      $("#chatLogs").append("<div><strong>"+ "[" + userName + "] " + round+ "라운드: " + score + "</strong>" + "점</div>");

    })

    upper.on("broadcastAnswerWrong",function(data){
      userName = data.userName
      round = data.round
      score = data.score

      $("#chatLogs").append("<div><strong>" + "[오답]</strong><div>");
      $("#chatLogs").append("<div><strong>"+ "[" + userName + "] " + round+ "라운드: " + score + "</strong>점 : from <strong>" + data.userName + "</strong></div>");
    })


    upper.on("printMultipleChoiceQuestions",function(data){
      for(let i=1;i<=data.multipleChoiceQuestions.length;i++){
        $("#chatLogs").append("<div>" + "<strong>"+ i+ "번 보기 " + data.multipleChoiceQuestions[i-1] + "</div>");
      }
    })

    $("#send").on("click",function(e){
      e.preventDefault();
      var $msgForm = $("#msgForm");
      upper.emit("chat", {
        msg: $msgForm.val()
      });
      $msgForm.val("");
    });

    $("#startBtn").on("click",function(){
        upper.emit("start");
      })

    $("#answerBtn1").on("click",function(){
        upper.emit("answer", {
            userid: name,
            room: roomName,
            answer: 1
          });
        })
    $("#answerBtn2").on("click",function(){
      upper.emit("answer", {
        userid: name,
        room: roomName,
        answer: 2
      });
    })
    $("#answerBtn3").on("click",function(){
      upper.emit("answer", {
        userid: name,
        room: roomName,
        answer: 3
      });
    })
    $("#answerBtn4").on("click",function(){
      upper.emit("answer", {
        userid: name,
        room: roomName,
        answer: 4
      });
    })

    function makeRandomName(){
      var name = "";
      var possible = "0123";
      for( var i = 0; i < 4; i++ ) {
        name += possible.charAt(Math.floor(Math.random() * possible.length));
      }
      return name;
    }
  });
  </script>
</body>
</html>
